body {
  font-family: cairo, 'sans-serif';
}

a {
  color: #000;
  text-decoration: none;
}

.btn__primary {
  border: 2px solid $color-blue;
  border-radius: 3px;
  padding: 6px 10px;
  color: #fff;
  background-color: $color-blue;
  font-size: 13px;
}

.btn__primary:hover {
  border: 2px solid $color-blue;
  color: $color-blue;
  background-color: #fff;
}

.btn__outline {
  border: 2px solid $color-blue;
  border-radius: 3px;
  padding: 8px 40px;
  color: $color-blue;
  background-color: #f1f1f1;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn__outline:hover {
  color: #f1f1f1;
  background-color: $color-blue;

}