// Start Header Section
.header {
  padding: 10px 0;
  background-color: #F3F3F3;
}

.custom-navbar {
  padding: 0;

  .container-fluid {
    padding: 0;
    gap: 20px;

    .navbar-brand {
      margin: 0;
      padding: 0;

      .brand__image {
        width: 80px;
      }
    }

    .navbar-buttons {
      margin: 20px 0;
      display: flex;
      gap: 20px;
    }
  }
}

.nav-link {
  display: block;
  padding: 12px 0;
  border-bottom: 1px solid rgb(210, 210, 210);
}

.nav-link.active {
  font-weight: 600;
}

@media screen and (min-width:992px) {
  .custom-navbar {
    .container-fluid {
      .navbar-brand {
        .brand__image {
          width: 80px;
        }
      }

      .navbar-buttons {
        margin: 0;
      }
    }
  }

  .nav-link {
    display: block;
    padding: 0;
    border-bottom: 0;
  }


}

// End Header Section

// Start Hero Section
.custom-carousel-item {
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;

  .carousel-caption {
    margin-bottom: 100px;

    h5 {
      font-size: 30px;
      letter-spacing: 1px;
    }

    p {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.custom-carousel-item:nth-of-type(1) {
  background-image: url("../images/hero/1.jpg");
}

.custom-carousel-item:nth-of-type(2) {
  background-image: url("../images/hero/2.jpg");
}

.custom-carousel-item:nth-of-type(3) {
  background-image: url("../images/hero/3.jpg");
}

// End Hero Section

// Start About Section
.about {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: #F3F3F3;
}

.about__content {
  max-width: 610px;
  text-align: center;
}

.about__title {
  margin-bottom: 0;
  font-family: cairo, 'sans-serif';
  font-weight: 600;
  letter-spacing: 2px;
  color: #071A35;
}

.title__underline {
  display: inline-block;
  height: 4px;
  width: 60px;
  background-color: $color-blue;
}

.about__description {
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 0 15px;
  letter-spacing: 1px;
  line-height: 1.7;
  color: #666;
}

.about__content {
  .btn__outline {
    background-color: #F9FAFB;

    &:hover {
      color: #f1f1f1;
      background-color: $color-blue;
    }
  }
}


@media screen and (min-width:768px) {
  .about {
    padding: 70px 0;
  }
}

// End About Section

// Start Activities Section
.activities {
  padding: 40px 0;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.activities__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.activities__item {
  border: 2px solid #eee;
  padding: 25px 15px;
  text-align: center;
  background-color: #F3F3F3;
}

.activities__icon {
  i {
    color: $color-blue;
    font-size: 50px;
  }
}

.activities__title {
  margin: 15px 0;
  font-weight: 600;
}

.activities__description {
  font-size: 15px;
  line-height: 1.7;
  color: #666;
}

@media screen and (min-width:768px) {
  .activities {
    padding: 50px 0;
  }

  .activities__item {
    padding: 0;
    max-width: 500px;
  }
}

@media screen and (min-width:992px) {
  .activities {
    padding: 70px 0;
  }

  .activities__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .activities__item {
    display: flex;
    gap: 25px;
    width: calc(50% - 15px);
    max-width: 500px;
    padding: 40px 30px;
    text-align: start;
  }

  .activities__title {
    margin: 0;
    margin-bottom: 10px;
  }

  .activities__description {
    margin: 0;
    font-size: 16px;
  }
}

// End Activities Section

// Start Students Section
.student {
  border: 1px solid #eee;
}

.student__image {
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.item-1.student:nth-of-type(1) .student__image {
  background-image: url("../images/students/student-1.jpg");
}

.item-1.student:nth-of-type(2) .student__image {
  background-image: url("../images/students/student-2.jpg");
}

.item-1.student:nth-of-type(3) .student__image {
  background-image: url("../images/students/student-3.jpg");
}

.item-1.student:nth-of-type(4) .student__image {
  background-image: url("../images/students/student-4.jpg");
}

.item-2.student:nth-of-type(1) .student__image {
  background-image: url("../images/students/student-5.jpg");
}

.item-2.student:nth-of-type(2) .student__image {
  background-image: url("../images/students/student-6.jpg");
}

.item-2.student:nth-of-type(3) .student__image {
  background-image: url("../images/students/student-7.jpg");
}

.item-2.student:nth-of-type(4) .student__image {
  background-image: url("../images/students/student-8.jpg");
}

.student__info {
  position: relative;
  padding: 25px 20px;
  background-color: #F3F3F3;

  text-align: center;
}

.student__icons {
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: flex;
  gap: 12px;
  padding: 10px;
  background-color: #F3F3F3;

  i {
    padding: 5px;
    color: #fff;
    background-color: $color-blue;
  }
}

.student__name {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #444;
  font-weight: 600;
}

.student__age {
  margin: 0;
  color: #666;
  font-size: 14px;
}

@media screen and (min-width:768px) {
  .students__content {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .student {
    width: calc(33%);
  }
}

@media screen and (min-width:992px) {
  .students {
    padding-bottom: 70px;
  }

  .students__content {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .student {
    width: 25%;
  }
}

// End Stundents Section

// Start Backround Section
.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 50vh;
  background-image: url("../images/bg-colors.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;

  i {
    color: #fff;
    font-size: 50px;
  }

  p {
    padding: 0 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    max-width: 750px;
  }
}

// End Background Section

// Start Stars Section
.stars {
  padding: 50px 0;
}

.stars__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.star__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.star__image {
  width: 100%;
  height: 400px;
  border: 3px solid rgb(220, 220, 220);
  padding: 10px;
  background-size: cover;
  background-position: center;
  background-position-x: 100%;
}

.star__item:nth-of-type(1) .star__image {
  background-image: url("../images/star-1.jpg");
}

.star__item:nth-of-type(2) .star__image {
  background-image: url("../images/star-2.jpg");
}

.star__info {
  border: 2px solid #eee;
  padding: 20px 0;
  background-color: #F3F3F3;
  text-align: center;

  a {
    display: inline-block;
    margin: 4px 0;
    padding: 6px 32px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

@media screen and (min-width:992px) {
  .stars {
    padding: 70px 0;
  }

  .stars__content {
    flex-direction: row;
  }
}

// End Stars Section

// Start Contact Us Section
.contact {
  padding: 50px 0;
  background-color: #F3F3F3;
}

.contact__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact__map {
  border: 2px solid #eee;
  background-color: #DDDAD3;
}

.contact__info {
  padding: 10px 0;
  text-align: center;
  color: #071A35;

  h2 {
    margin-bottom: 20px;
  }

  .info__item {
    margin-top: 5px;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    border-top: 1px solid rgba(68, 68, 68, 0.2);
    padding-top: 30px;

    input {
      margin-top: 7px;
      border: 1px solid rgba(68, 68, 68, 0.2);
      padding: 8px 12px;
      width: 350px;
    }

    ::placeholder {
      font-size: 13px;
    }

    button {
      padding: 10px 0;
      width: 350px;
      font-size: 16px;
    }
  }

  .social__media {
    margin-top: 20px;

    i {
      margin: 0 2px;
      font-size: 30px;
    }
  }
}

@media screen and (min-width:768px) {
  .contact {
    padding: 70px 0;
  }

  .contact__content {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }

  .contact__map {
    width: 50%;
  }

  .contact__info {
    position: relative;
    width: 50%;
    border-bottom: 1px solid rgba(68, 68, 68, 0.2);

    h2 {
      margin-bottom: 20px;
    }

    .info__item {
      margin-top: 0;

      i {
        margin-top: 15px;
        margin-left: 10px;
      }
    }

    .social__media {
      position: absolute;
      left: 50%;
      bottom: 10px;
      transform: translateX(-50%);
      margin-top: 40px;
    }
  }
}

// End Contact Us Section

// Start Footer Section
.footer {
  border-top: 1px solid rgba(68, 68, 68, 0.2);

  p {
    margin: 0;
    padding: 25px 0;
    background-color: #F3F3F3;
    text-align: center;
  }
}

// End Footer Section

// Start Signup Section
.signup {
  padding: 127px 0;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.signup__title {
  margin-bottom: 50px;
  border-bottom: 2px solid #000;
  padding-bottom: 7px;
  font-weight: 600;
  letter-spacing: 2px;
}

.signup__form {
  max-width: 600px;
}

.form__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    align-self: flex-end;
    margin: 0;
    font-size: 14px;

    a {
      color: $color-blue;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

@media screen and (min-width:768px) {
  .signup {
    padding: 126px 0;
  }
}

// End Signup Section

// Start Login Section

.login {
  padding: 170px 0;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.login__form {
  max-width: 500px;
}

@media screen and (min-width:768px) {
  .login {
    padding: 169px 0;
  }
}


// End Login Section