body {
  height: 2000px;
}

// Start Header Section
.header {
  padding: 10px 0;
  background-color: #f1f1f1;
}

.custom-navbar {
  padding: 0;

  .container-fluid {
    padding: 0;
    gap: 20px;

    .navbar-brand {
      margin: 0;
      padding: 0;

      .brand__image {
        width: 80px;
      }
    }

    .navbar-buttons {
      margin: 20px 0;
      display: flex;
      gap: 20px;
    }
  }
}

@media screen and (min-width:992px) {
  .custom-navbar {
    .container-fluid {
      .navbar-brand {
        .brand__image {
          width: 80px;
        }
      }

      .navbar-buttons {
        margin: 0;
      }
    }
  }

}

// End Header Section

// Start Hero Section
.custom-carousel-item {
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;

  .carousel-caption {
    margin-bottom: 100px;

    h5 {
      font-size: 30px;
      letter-spacing: 1px;
    }

    p {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.custom-carousel-item:nth-of-type(1) {
  background-image: url("../images/hero/1.jpg");
}

.custom-carousel-item:nth-of-type(2) {
  background-image: url("../images/hero/2.jpg");
}

.custom-carousel-item:nth-of-type(3) {
  background-image: url("../images/hero/3.jpg");
}

// End Hero Section

// Start About Section
.about {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: #f1f1f1;
}

.about__content {
  max-width: 610px;
  text-align: center;
}

.about__title {
  margin-bottom: 0;
  font-family: cairo, 'sans-serif';
  font-weight: 600;
  letter-spacing: 2px;
}

.title__underline {
  display: inline-block;
  height: 4px;
  width: 60px;
  background-color: $color-blue;
}

.about__description {
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 0 15px;
  letter-spacing: 1px;
  line-height: 1.7;
  color: #666;
}

@media screen and (min-width:768px) {
  .about {
    padding: 70px 0;
  }
}


// End About Section