body {
  height: 2000px;
}

// Start Header Section
.header {
  padding: 10px 0;
  background-color: #f0fbfc;
}

.custom-navbar {
  padding: 0;

  .container-fluid {
    padding: 0;
    gap: 20px;

    .navbar-brand {
      margin: 0;
      padding: 0;

      .brand__image {
        width: 80px;
      }
    }

    .navbar-buttons {
      margin: 20px 0;
      display: flex;
      gap: 20px;
    }
  }
}

@media screen and (min-width:992px) {
  .custom-navbar {
    .container-fluid {
      .navbar-brand {
        .brand__image {
          width: 80px;
        }
      }

      .navbar-buttons {
        margin: 0;
      }
    }
  }

}

// End Header Section

// Start Hero Section
.custom-carousel-item {
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;

  .carousel-caption {
    margin-bottom: 100px;

    h5 {
      font-size: 30px;
      letter-spacing: 1px;
    }

    p {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.custom-carousel-item:nth-of-type(1) {
  background-image: url("../images/hero/1.jpg");
}

.custom-carousel-item:nth-of-type(2) {
  background-image: url("../images/hero/2.jpg");
}

.custom-carousel-item:nth-of-type(3) {
  background-image: url("../images/hero/3.jpg");
}

// End Hero Section

// Start About Section
.about {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: $light-color;
}

.about__content {
  max-width: 610px;
  text-align: center;
}

.about__title {
  margin-bottom: 0;
  font-family: cairo, 'sans-serif';
  font-weight: 600;
  letter-spacing: 2px;
}

.title__underline {
  display: inline-block;
  height: 4px;
  width: 60px;
  background-color: $color-blue;
}

.about__description {
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 0 15px;
  letter-spacing: 1px;
  line-height: 1.7;
  color: #666;
}

.about__content {
  .btn__outline {
    background-color: #F9FAFB;

    &:hover {
      color: #f1f1f1;
      background-color: $color-blue;
    }
  }
}


@media screen and (min-width:768px) {
  .about {
    padding: 70px 0;
  }
}

// End About Section

// Start Activities Section
.activities {
  padding: 40px 0;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.activities__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.activities__item {
  border: 2px solid #eee;
  padding: 25px 15px;
  text-align: center;
  background-color: #f0fbfc;
}

.activities__icon {
  i {
    color: $color-blue;
    font-size: 50px;
  }
}

.activities__title {
  margin: 15px 0;
  font-weight: 600;
}

.activities__description {
  font-size: 15px;
  line-height: 1.7;
  color: #666;
}

@media screen and (min-width:768px) {
  .activities {
    padding: 50px 0;
  }

  .activities__item {
    padding: 0;
    max-width: 500px;
  }
}

@media screen and (min-width:992px) {
  .activities {
    padding: 70px 0;
  }

  .activities__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .activities__item {
    display: flex;
    gap: 25px;
    width: calc(50% - 15px);
    max-width: 500px;
    padding: 40px 30px;
    text-align: start;
  }

  .activities__title {
    margin: 0;
    margin-bottom: 10px;
  }

  .activities__description {
    margin: 0;
    font-size: 16px;
  }
}

// End Activities Section